<nav class="navbar__container">
    <div class="nav-content">
        <h1>E-Commerce</h1>
        <div class="search__container">
            <input type="text" placeholder="Search for products" id="search-input">
            <button type="button" id="search-button">Search</button>
        </div>
        <div class="menu__container">
            <div class="menu-pages">
                <ul>
                    <li routerLink="/">Home</li>
                </ul>
            </div>
            <div class="menu-user-options">
                <ul>
                    <li routerLink="/seller-home">Seller</li>
                    <li><a href="#"><button type="button">Log in</button></a></li>
                </ul>
            </div>
            <div class="menu-cart">
                <ul>
                    <li><a href="#"><button type="button">Cart</button></a></li>
                </ul>
            </div>
        </div>
    </div>
</nav>