<div class="seller-product-information">
    <div [formGroup]="productInfoFormGroup" class="form-container">
        <div class="product-info">
            <div class="form-group">
                <label for="primaryCategory">Primary Category</label>
                <input id="primaryCategory" formControlName="primaryCategory" type="text" />
                <div *ngIf="productInfoFormGroup.get('primaryCategory')?.invalid && productInfoFormGroup.get('primaryCategory')?.touched"
                    class="error-message">
                    <small *ngIf="productInfoFormGroup.get('primaryCategory')?.hasError('required')">Primary Category is
                        required.</small>
                </div>
            </div>

            <div class="form-group">
                <label for="secondaryCategories">Secondary Categories</label>
                <select id="secondaryCategories"  id="secondaryCategories"
                    (change)="addSecondaryCategory($event)">
                    <option *ngFor="let category of availableCategories" [value]="category">{{ category }}</option>
                </select>
            </div>

            <div *ngIf="selectedSecondaryCategories.length">
                <h4>Selected Secondary Categories</h4>
                <ul>
                    <li *ngFor="let category of selectedSecondaryCategories" (click)="removeSecondaryCategory(category)"
                        class="remove">{{category}}[x]</li>
                </ul>
            </div>
        </div>

        <div class="product-info">
            <div class="form-group">
                <label for="salesVolume">Sales Volume</label>
                <input id="salesVolume" formControlName="salesVolume" type="number" />
                <div *ngIf="productInfoFormGroup.get('salesVolume')?.invalid && productInfoFormGroup.get('salesVolume')?.touched"
                    class="error-message">
                    <small *ngIf="productInfoFormGroup.get('salesVolume')?.hasError('required')">Sales Volume is
                        required.</small>
                </div>
            </div>
        </div>

    </div>

</div>