// Colors
$primary-bg: lightgray;
$secondary-bg: rgb(236, 236, 236);
$button-bg: rgb(83, 83, 83);
$button-hover-bg: rgba(0, 0, 0, 0.473);
$border-color: black;
$button-text-color: white;

// Spacing & Sizing
$button-border-radius: 5px;
$button-padding: 0.3rem 0.5rem;
$font-size: 1rem;
$gap: 1rem;
